In [ ]:
pip install pandas

Requirement already satisfied: pandas in c:\users\hicks\appdata\local\programs\python\python313\lib\site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in c:\users\hicks\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2.1.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\hicks\appdata\roaming\python\python313\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\hicks\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\hicks\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: six>=1.5 in c:\users\hicks\appdata\roaming\python\python313\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [ ]:
import pandas as pd
import numpy as np

# [Pandas Documentation](https://pandas.pydata.org/pandas-docs/stable/user_guide/index.html)

# 10 minutes to pandas

## Basic data structures in pandas

- Series
- Dataframe

## Object creation

In [ ]:
# Series
s = pd.Series([1, 3, 5, np.nan, 6, 8])
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [ ]:
# DataFrame
dates = pd.date_range('20130101', periods=6)
print(dates)

df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list("ABCD"))
df

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

                   A         B         C         D
2013-01-01  0.517040 -0.510318 -0.715317  0.921750
2013-01-02 -0.119365  0.214022  2.153378  0.387146
2013-01-03 -0.608885 -0.352902 -0.308752 -0.108991
2013-01-04 -0.424100 -0.569434 -0.065197 -0.322477
2013-01-05  0.418560  0.471154 -0.091245 -1.751682
2013-01-06 -1.885884 -0.369822 -0.463632  0.232973

In [ ]:
df2 = pd.DataFrame(
    {
        "A": 1.0,
        "B": pd.Timestamp("20130102"),
        "C": pd.Series(1, index=list(range(4)), dtype="float32"),
        "D": np.array([3] * 4, dtype="int32"),
        "E": pd.Categorical(["test", "train", "test", "train"]),
        "F": "foo",
    }, 
)

df2

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

In [ ]:
df2.dtypes

A          float64
B    datetime64[s]
C          float32
D            int32
E         category
F           object
dtype: object

## Viewing data

In [ ]:
df.head()

                   A         B         C         D
2013-01-01  0.517040 -0.510318 -0.715317  0.921750
2013-01-02 -0.119365  0.214022  2.153378  0.387146
2013-01-03 -0.608885 -0.352902 -0.308752 -0.108991
2013-01-04 -0.424100 -0.569434 -0.065197 -0.322477
2013-01-05  0.418560  0.471154 -0.091245 -1.751682

In [ ]:
df.tail()

                   A         B         C         D
2013-01-02 -0.119365  0.214022  2.153378  0.387146
2013-01-03 -0.608885 -0.352902 -0.308752 -0.108991
2013-01-04 -0.424100 -0.569434 -0.065197 -0.322477
2013-01-05  0.418560  0.471154 -0.091245 -1.751682
2013-01-06 -1.885884 -0.369822 -0.463632  0.232973

In [ ]:
df.index

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [ ]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [ ]:
df.to_numpy()

array([[ 0.51704004, -0.51031769, -0.71531739,  0.92174953],
       [-0.11936492,  0.21402184,  2.15337834,  0.38714556],
       [-0.60888489, -0.35290207, -0.3087524 , -0.10899138],
       [-0.42409981, -0.56943393, -0.06519731, -0.32247656],
       [ 0.4185602 ,  0.47115433, -0.0912448 , -1.75168245],
       [-1.88588398, -0.36982226, -0.46363178,  0.2329733 ]])

In [ ]:
df2.dtypes

A          float64
B    datetime64[s]
C          float32
D            int32
E         category
F           object
dtype: object

In [ ]:
df2.to_numpy()

array([[1.0, Timestamp('2013-01-02 00:00:00'), 1.0, 3, 'test', 'foo'],
       [1.0, Timestamp('2013-01-02 00:00:00'), 1.0, 3, 'train', 'foo'],
       [1.0, Timestamp('2013-01-02 00:00:00'), 1.0, 3, 'test', 'foo'],
       [1.0, Timestamp('2013-01-02 00:00:00'), 1.0, 3, 'train', 'foo']],
      dtype=object)

In [ ]:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean  -0.350439 -0.186217  0.084872 -0.106880
std    0.874881  0.425610  1.041955  0.913181
min   -1.885884 -0.569434 -0.715317 -1.751682
25%   -0.562689 -0.475194 -0.424912 -0.269105
50%   -0.271732 -0.361362 -0.199999  0.061991
75%    0.284079  0.072291 -0.071709  0.348602
max    0.517040  0.471154  2.153378  0.921750

In [ ]:
df.T

   2013-01-01  2013-01-02  2013-01-03  2013-01-04  2013-01-05  2013-01-06
A    0.517040   -0.119365   -0.608885   -0.424100    0.418560   -1.885884
B   -0.510318    0.214022   -0.352902   -0.569434    0.471154   -0.369822
C   -0.715317    2.153378   -0.308752   -0.065197   -0.091245   -0.463632
D    0.921750    0.387146   -0.108991   -0.322477   -1.751682    0.232973

In [ ]:
df.sort_index(axis = 1, ascending = False)

                   D         C         B         A
2013-01-01  0.921750 -0.715317 -0.510318  0.517040
2013-01-02  0.387146  2.153378  0.214022 -0.119365
2013-01-03 -0.108991 -0.308752 -0.352902 -0.608885
2013-01-04 -0.322477 -0.065197 -0.569434 -0.424100
2013-01-05 -1.751682 -0.091245  0.471154  0.418560
2013-01-06  0.232973 -0.463632 -0.369822 -1.885884

In [ ]:
df.sort_values(by = "B")

                   A         B         C         D
2013-01-04 -0.424100 -0.569434 -0.065197 -0.322477
2013-01-01  0.517040 -0.510318 -0.715317  0.921750
2013-01-06 -1.885884 -0.369822 -0.463632  0.232973
2013-01-03 -0.608885 -0.352902 -0.308752 -0.108991
2013-01-02 -0.119365  0.214022  2.153378  0.387146
2013-01-05  0.418560  0.471154 -0.091245 -1.751682

## Selection

### Getitem ([])

In [77]:
df['A']

2013-01-01    0.517040
2013-01-02   -0.119365
2013-01-03   -0.608885
2013-01-04   -0.424100
2013-01-05    0.418560
2013-01-06   -1.885884
Freq: D, Name: A, dtype: float64

In [78]:
df[0:3]

                   A         B         C         D
2013-01-01  0.517040 -0.510318 -0.715317  0.921750
2013-01-02 -0.119365  0.214022  2.153378  0.387146
2013-01-03 -0.608885 -0.352902 -0.308752 -0.108991

In [79]:
df["20130102":"20130104"]

                   A         B         C         D
2013-01-02 -0.119365  0.214022  2.153378  0.387146
2013-01-03 -0.608885 -0.352902 -0.308752 -0.108991
2013-01-04 -0.424100 -0.569434 -0.065197 -0.322477

### Selection by label

In [83]:
df.loc[dates[0]]

A    0.517040
B   -0.510318
C   -0.715317
D    0.921750
Name: 2013-01-01 00:00:00, dtype: float64

In [87]:
df.loc[:, ["A", "B"]]

                   A         B
2013-01-01  0.517040 -0.510318
2013-01-02 -0.119365  0.214022
2013-01-03 -0.608885 -0.352902
2013-01-04 -0.424100 -0.569434
2013-01-05  0.418560  0.471154
2013-01-06 -1.885884 -0.369822

In [88]:
df.loc["20130102":"20130104", ["A", "B"]]

                   A         B
2013-01-02 -0.119365  0.214022
2013-01-03 -0.608885 -0.352902
2013-01-04 -0.424100 -0.569434

In [89]:
df.loc[dates[0], "A"]

np.float64(0.5170400442433333)

In [90]:
df.at[dates[0], "A"]

np.float64(0.5170400442433333)

### Selection by position

In [95]:
df.iloc[3]

A   -0.424100
B   -0.569434
C   -0.065197
D   -0.322477
Name: 2013-01-04 00:00:00, dtype: float64

In [96]:
df.iloc[3:5, 0:2]

                  A         B
2013-01-04 -0.42410 -0.569434
2013-01-05  0.41856  0.471154

In [97]:
df.iloc[[1, 2, 4], [0, 2]]

                   A         C
2013-01-02 -0.119365  2.153378
2013-01-03 -0.608885 -0.308752
2013-01-05  0.418560 -0.091245

In [98]:
df.iloc[1:3, :]

                   A         B         C         D
2013-01-02 -0.119365  0.214022  2.153378  0.387146
2013-01-03 -0.608885 -0.352902 -0.308752 -0.108991

In [99]:
df.iloc[:, 1:3]

                   B         C
2013-01-01 -0.510318 -0.715317
2013-01-02  0.214022  2.153378
2013-01-03 -0.352902 -0.308752
2013-01-04 -0.569434 -0.065197
2013-01-05  0.471154 -0.091245
2013-01-06 -0.369822 -0.463632

In [100]:
df.iloc[1, 1]

np.float64(0.21402184315068454)

In [101]:
df.iat[1, 1]

np.float64(0.21402184315068454)

### Boolean indexing

In [102]:
df[df["A"] > 0]

                  A         B         C         D
2013-01-01  0.51704 -0.510318 -0.715317  0.921750
2013-01-05  0.41856  0.471154 -0.091245 -1.751682

In [103]:
df[df > 0]

                  A         B         C         D
2013-01-01  0.51704       NaN       NaN  0.921750
2013-01-02      NaN  0.214022  2.153378  0.387146
2013-01-03      NaN       NaN       NaN       NaN
2013-01-04      NaN       NaN       NaN       NaN
2013-01-05  0.41856  0.471154       NaN       NaN
2013-01-06      NaN       NaN       NaN  0.232973

In [105]:
df2 = df.copy()
df2["E"] = ["one", "one", "two", "three", "four", "three"]
df2[df2["E"].isin(["two", "four"])]

                   A         B         C         D     E
2013-01-03 -0.608885 -0.352902 -0.308752 -0.108991   two
2013-01-05  0.418560  0.471154 -0.091245 -1.751682  four

### Setting

In [107]:
s1 = pd.Series([1, 2, 3, 4, 5, 6], index=pd.date_range("20130102", periods=6))
df["F"] = s1
df

                   A         B         C         D    F
2013-01-01  0.517040 -0.510318 -0.715317  0.921750  NaN
2013-01-02 -0.119365  0.214022  2.153378  0.387146  1.0
2013-01-03 -0.608885 -0.352902 -0.308752 -0.108991  2.0
2013-01-04 -0.424100 -0.569434 -0.065197 -0.322477  3.0
2013-01-05  0.418560  0.471154 -0.091245 -1.751682  4.0
2013-01-06 -1.885884 -0.369822 -0.463632  0.232973  5.0

In [109]:
df.at[dates[0], "A"] = 0
df

                   A         B         C         D    F
2013-01-01  0.000000 -0.510318 -0.715317  0.921750  NaN
2013-01-02 -0.119365  0.214022  2.153378  0.387146  1.0
2013-01-03 -0.608885 -0.352902 -0.308752 -0.108991  2.0
2013-01-04 -0.424100 -0.569434 -0.065197 -0.322477  3.0
2013-01-05  0.418560  0.471154 -0.091245 -1.751682  4.0
2013-01-06 -1.885884 -0.369822 -0.463632  0.232973  5.0

In [111]:
df.iat[0, 1] = 0
df

                   A         B         C         D    F
2013-01-01  0.000000  0.000000 -0.715317  0.921750  NaN
2013-01-02 -0.119365  0.214022  2.153378  0.387146  1.0
2013-01-03 -0.608885 -0.352902 -0.308752 -0.108991  2.0
2013-01-04 -0.424100 -0.569434 -0.065197 -0.322477  3.0
2013-01-05  0.418560  0.471154 -0.091245 -1.751682  4.0
2013-01-06 -1.885884 -0.369822 -0.463632  0.232973  5.0

In [112]:
df.loc[:, "D"] = np.array([5] * len(df))
df

                   A         B         C    D    F
2013-01-01  0.000000  0.000000 -0.715317  5.0  NaN
2013-01-02 -0.119365  0.214022  2.153378  5.0  1.0
2013-01-03 -0.608885 -0.352902 -0.308752  5.0  2.0
2013-01-04 -0.424100 -0.569434 -0.065197  5.0  3.0
2013-01-05  0.418560  0.471154 -0.091245  5.0  4.0
2013-01-06 -1.885884 -0.369822 -0.463632  5.0  5.0

In [123]:
df2 = df.copy()
df2[df2 > 0] = -df2
df2

                   A         B         C    D    F
2013-01-01  0.000000  0.000000 -0.715317 -5.0  NaN
2013-01-02 -0.119365 -0.214022 -2.153378 -5.0 -1.0
2013-01-03 -0.608885 -0.352902 -0.308752 -5.0 -2.0
2013-01-04 -0.424100 -0.569434 -0.065197 -5.0 -3.0
2013-01-05 -0.418560 -0.471154 -0.091245 -5.0 -4.0
2013-01-06 -1.885884 -0.369822 -0.463632 -5.0 -5.0

## Missing data

## Operations

## Merge

## Grouping

## Reshaping

## Time series

## Categoricals

## Plotting

## Importing and exporting data

## Gotchas

# Intro to data structures

## Series

## DataFrame

# Essential basic functionality

## Head and tail

## Attributes and underlying data

## Accelerated operations

## Flexible binary operations

## Descriptive statistics

## Function application

## Reindexing and altering labels

## Iteration

## .dt accessor

## Vectorized string methods

## Sorting

## Copying

## dtypes

## Selecting columns based on dtype

# IO tools (text, CSV, HDF5, )

## CSV & text files

## JSON

## HTML

## LaTeX

## XML

## Excel files

## OpenDocument Spreadsheets

## Binary Excel (.xlsb) files

## Calamine (Excel and ODS files)

## Clipboard

## Pickling

## msgpack

## HDF5 (PyTables)

## Feather

## Parquet

## ORC

## SQL queries

## Google BigQuery

## Stata format

## SAS formats

## SPSS formats

## Other file formats

## Performance considerations

# PyArrow Functionality

## Data Structure Integration

## Operations

## I/O Reading

# Indexing and selecting data

## Different choices for indexing

## Basics

## Attribute access

## Slicing ranges

## Selection by label

## Selection by position

## Selection by callable

## Combining positional and label-based indexing

## Selecting random samples

## Setting with enlargement

## Fast scalar value getting and setting

## Boolean indexing

## Indexing with isin

## The where() Method and Masking

## Setting with enlargement conditionally using numpy()

## The query() Method

## Duplicate data

## Dictionary-like get() method

## Looking up values by index/column labels

## Index objects

## Set / reset index

## Returning a view versus a copy

# MultiIndex / advanced indexing

# Hierarchical indexing (MultiIndex)

# Advanced indexing with hierarchical index

# Sorting a MultiIndex

# Take methods

# Index types

# Miscellaneous indexing FAQ

# Copy-on-Write (CoW)

## Previous behavior

## Migrating to Copy-on-Write

## Description

## Chained Assignment

## Read-only NumPy arrays

## Patterns to avoid

## Copy-on-Write optimizations

## How to enable CoW

# Merge, join, concatenate and compare

## concat()

## merge()

## DataFrame.join()

## merge_ordered()

## merge_asof()

## compare()

# Reshaping and pivot tables

## pivot() and pivot_table()

## stack() and unstack()

## melt() and wide_to_long()

## get_dummies() and from_dummies()

## explode()

## crosstab()

## cut()

## factorize()

# Working with text data

## Text data types

## String methods

## Splitting and replacing strings

## Concatenation

## Indexing with .str

## Extracting substrings

## Testing for strings that match or contain a pattern

## Creating indicator variables

## Method summary

# Working with missing data

## Values considered missing

## NA semantics

## Inserting missing data

## Calculations with missing data

## Dropping missing data

## Filling missing data

# Duplicate Labels

## Consequences of Duplicate Labels

## Duplicate Label Detection

## Disallowing Duplicate Labels

# Categorical data

## Object creation

## CategoricalDtype

## Description

## Working with categories

## Sorting and order

## Comparisons

## Operations

## Data munging

## Getting data in/out

## Missing data

## Differences to Rs factor

## Gotchas

# Nullable integer data type

## Construction

## Operations

## Scalar NA Value

# Nullable Boolean data type

## Indexing with NA values

## Kleene logical operations

# Chart visualization

## Basic plotting: plot

## Other plots

## Plotting with missing data

## Plotting tools

## Plot formatting

## Plotting directly with Matplotlib

## Plotting backends

# Table Visualization

## Styler Object and Customising the Display

## Formatting the Display

## Styler Object and HTML

## Methods to Add Styles

## Table Styles

## Setting Classes and Linking to External CSS

## Styler Functions

## Tooltips and Captions

## Finer Control with Slicing

## Optimization

## Builtin Styles

## Sharing styles

## Limitations

## Other Fun and Useful Stuff

## Export to Excel

## Export to LaTeX

## More About CSS and HTML

## Extensibility

# Group by: split-apply-combine

## Splitting an object into groups

## Iterating through groups

## Selecting a group

## Aggregation

## Transformation

## Filtration

## Flexible apply

## Numba Accelerated Routines

## Other useful features

## Examples

# Windowing operations

## Overview

## Rolling window

## Weighted window

## Expanding window

## Exponentially weighted window

# Time series / date functionality

## Overview

## Timestamps vs. time spans

## Converting to timestamps

## Generating ranges of timestamps

## Timestamp limitations

## Indexing

## Time/date components

## DateOffset objects

## Time Series-related instance methods

## Resampling

## Time span representation

## Converting between representations

## Representing out-of-bounds spans

## Time zone handling

# Time deltas

## Parsing

## Operations

## Reductions

## Frequency conversion

## Attributes

## TimedeltaIndex

## Resampling

# Options and settings

## Overview

## Available options

## Getting and setting options

## Setting startup options in Python/IPython environment

## Frequently used options

## Number formatting

## Unicode formatting

## Table schema display

# Enhancing performance

## Cython (writing C extensions for pandas)

## Numba (JIT compilation)

## Expression evaluation via eval()

# Scaling to large datasets

## Load less data

## Use efficient datatypes

## Use chunking

## Use Other Libraries

# Sparse data structures

## SparseArray

## SparseDtype

## Sparse accessor

## Sparse calculation

## Interaction with scipy.sparse

# Frequently Asked Questions (FAQ)

## DataFrame memory usage

## Using if/truth statements with pandas

## Mutating with User Defined Function (UDF) methods

## Missing value representation for NumPy types

## Differences with NumPy

## Thread-safety

In [ ]:
Byte-ordering issues

# Cookbook

## Idioms

## Selection

## Multiindexing

## Missing data

## Grouping

## Timeseries

## Merge

## Plotting

## Data in/out

## Computation

## Timedeltas

## Creating example data

## Constant series

# Sandbox