# Set Location for my_package.zip

In [1]:
import os, sys
sys.path.append(os.path.abspath(os.path.join(os.getcwd(), '..', 'Package', 'my_package.zip')))

# Import the package

In [2]:
from Access.ReadDB import *

ReadDB(intake = r'../Datasets/Testing/test_csv.csv', sep=',')

An error occurred: [Errno 2] No such file or directory: '../../../Datasets/Testing/test_csv.csv'
An error occurred: [Errno 2] No such file or directory: '../../../Datasets/Testing/test_xlsx.xlsx'
An error occurred: Unable to find a usable engine; tried using: 'pyarrow', 'fastparquet'.
A suitable version of pyarrow or fastparquet is required for parquet support.
Trying to import the above resulted in these errors:
 - Missing optional dependency 'pyarrow'. pyarrow is required for parquet support. Use pip or conda to install pyarrow.
 - Missing optional dependency 'fastparquet'. fastparquet is required for parquet support. Use pip or conda to install fastparquet.
An error occurred: File ../../../Datasets/Testing/test_json.json does not exist
An error occurred: Start tag expected, '<' not found, line 1, column 1 (<string>, line 1)

c:\Users\hicks\My Briefcase\GitHub\Resources\Utilities\Package\my_package.zip\Access\ReadDB.py:28: FutureWarning: Passing literal xml to 'read_xml' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.

   Column_1  Column_2  Column_3  Column_4  Column_5
0         2        27        41         5        83
1        85        69        67        73        22
2        41        28        58        75        28
3        93        18        74        81        27
4        10        50        14        28        75
5        51        87        18        77        24
6        32        46        17        65        18
7        68        42        94        12         6
8        59        76         7        16        10
9        26        29         8        40        39

In [3]:
from Access.WriteDB import ComingSoon

ComingSoon()

Coming Soon

In [4]:
from Access.WriteDB import ComingSoon2

ComingSoon2()

Coming Soon 2

# Help menu

In [5]:
from Tools.Help import help

help()

Please select a package and function in the following format:
from {package} select {function}

Below are the list of available packages:

# Sandbox

In [ ]:
# import Access.WriteDB
# print(dir(Access.WriteDB))