# Set Location for my_package.zip

In [1]:
# import os, sys
# sys.path.append(os.path.abspath(os.path.join(os.getcwd(), '..', 'Package', 'scripts')))

In [3]:
import os; os.chdir(os.path.join(os.getcwd().split('Utilities')[0], r'Utilities\Package\scripts\Python\Configuration'))
%run "PackageLoader.py"

In [4]:
test = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6]})
test

   A  B
0  1  4
1  2  5
2  3  6

In [5]:
ReadDB(intake = r'../Datasets/Testing/test_csv.csv', sep=',')

      Name  Age         City
0    Alice   24     New York
1      Bob   30  Los Angeles
2  Charlie   22      Chicago

# Import the package

In [6]:
# from Access.ReadDB import *

ReadDB(intake = r'../Datasets/Testing/test_csv.csv', sep=',')

      Name  Age         City
0    Alice   24     New York
1      Bob   30  Los Angeles
2  Charlie   22      Chicago

In [8]:
from Access.WriteDB import ComingSoon

ComingSoon()

ModuleNotFoundError: No module named 'Access'

In [4]:
from Access.WriteDB import ComingSoon2

ComingSoon2()

Coming Soon 2

# Help menu

In [5]:
from Tools.Help import help

help()

Please select a package and function in the following format:
from {package} select {function}

Below are the list of available packages:

# Package Installer

In [6]:
from Python.Configuration.PackageInstaller import *
PackageInstaller()

# Sandbox

In [ ]:
# import Access.WriteDB
# print(dir(Access.WriteDB))