# Set Location for my_package.zip

In [1]:
import os, sys
sys.path.append(os.path.abspath(os.path.join(os.getcwd(), '..', 'Package', 'my_package')))

# Import the package

In [2]:
from Access.ReadDB import *

ReadDB(intake = r'../Datasets/Testing/test_csv.csv', sep=',')

An error occurred: [Errno 2] No such file or directory: '../../../Datasets/Testing/test_csv.csv'
An error occurred: [Errno 2] No such file or directory: '../../../Datasets/Testing/test_xlsx.xlsx'
An error occurred: Unable to find a usable engine; tried using: 'pyarrow', 'fastparquet'.
A suitable version of pyarrow or fastparquet is required for parquet support.
Trying to import the above resulted in these errors:
 - Missing optional dependency 'pyarrow'. pyarrow is required for parquet support. Use pip or conda to install pyarrow.
 - Missing optional dependency 'fastparquet'. fastparquet is required for parquet support. Use pip or conda to install fastparquet.
An error occurred: File ../../../Datasets/Testing/test_json.json does not exist
An error occurred: Start tag expected, '<' not found, line 1, column 1 (<string>, line 1)

c:\Users\hicks\My Briefcase\GitHub\Resources\Utilities\Package\my_package\Access\ReadDB.py:28: FutureWarning: Passing literal xml to 'read_xml' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  data = pd.read_xml(intake)

   Column_1  Column_2  Column_3  Column_4  Column_5
0        51        70        17        62        70
1        49        63         1         1        71
2        75        47        57        69        32
3        52         7        10        49        58
4        92         5        48        78        36
5        12        69         3        48        91
6        95        94        95        39        97
7        86        15         6        44        13
8        41        67        29        46        73
9        69        95        86        32        40

In [3]:
from Access.WriteDB import ComingSoon

ComingSoon()

Coming Soon

In [4]:
from Access.WriteDB import ComingSoon2

ComingSoon2()

Coming Soon 2

# Help menu

In [5]:
from Tools.Help import help

help()

Please select a package and function in the following format:
from {package} select {function}

Below are the list of available packages:

# Package Installer

In [9]:
from Python.Configuration.PackageInstaller import *
PackageInstaller()

# Sandbox

In [ ]:
# import Access.WriteDB
# print(dir(Access.WriteDB))